body, html { 
  font-family: 'Nunito Sans', sans-serif !important;
  width: 100%; height: 100%; 
}
.btn-group-fab {
  position: fixed;
  width: 50px;
  height: auto;
  right: 20px; bottom: 20px;
}
.btn-group-fab div {
  position: relative; width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 40px; height: 40px;
  margin: 4px auto;
}
.btn-group-fab .btn-main {
  width: 50px; height: 50px;
  right: 50%; margin-right: -25px;
  z-index: 9;
}
.btn-group-fab .btn-sub {
  bottom: 0; z-index: 8;
  right: 50%;
  margin-right: -20px;
  -webkit-transition: all 2s;
  transition: all 0.5s;
}
.btn-group-fab.active .btn-sub:nth-child(2) {
  bottom: 60px;
}
.btn-group-fab.active .btn-sub:nth-child(3) {
  bottom: 110px;
}
.btn-group-fab.active .btn-sub:nth-child(4) {
  bottom: 160px;
}
.btn-group-fab .btn-sub:nth-child(5) {
  bottom: 210px;
}
#fab-button {
    position: absolute;
    bottom: 100px;
    right: 200px;
    width: 56px;
    height: 56px;
}

.dropdown-item {
    cursor: pointer;
}

.libro-text-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.navbar-nav-admin {
    background-color: #36b9cc;
}

table tr {
  cursor: pointer;
}

.libro-titulo-card {
  font-size: 24px;
}

.libro-titulo-card-favorite {
  font-size: 17px;
}

.a-favorite {
  text-decoration: none !important;
  color: #858796 !important;
  outline: 0;
}

.libro-img-wrapper {
  margin-bottom: 20px;
}

.libro-show-img {
  width: 100%;
  max-width: 300px;
}

.libro-show-img-favorite {
  width: 100%;
  max-width: 130px;
}

.libro-precio-card {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.price-tag {
  font-size: 18px !important;
  line-height: 18px;
  position: relative;
  top: -3px;
  right: -5px;
}

.center-div {
  margin: auto;
  display: block;
}

tr.hide-table-padding td {
  padding: 0;
}

.expand-button {
	position: relative;
}

.accordion-toggle .expand-button:after
{
  position: absolute;
  left:.75rem;
  top: 50%;
  transform: translate(0, -50%);
  content: '-';
}
.accordion-toggle.collapsed .expand-button:after
{
  content: '+';
}


.favoriteYes {
  background-color: #e74a3b;
  color: white;
  transition: all 4s ease-out;

}

.favoriteNo {
  background-color: white;
  color: #e74a3b;
  transition: all 4s ease-out;
  border: 1px solid rgba(0,0,0,.15);
 
}

.favoriteYes:hover {
  background-color: white;
  color: #e74a3b;
}

.favoriteNo:hover {
  background-color: #e74a3b;
  color: white;
}

.icon-fix {
  position: relative;
  top: 3px;
  left: -1px;
}

@media only screen and (max-width: 1200px) {
  .libro-text-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .libro-text-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}